a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    background-repeat: no-repeat;
    background-position: center;
}

.box_shadow {
    background-color: rgba(244, 244, 244, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
}

.box {
    background-color: rgba(244, 244, 244, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
}

.conteiner {

    margin: 0 auto;
    position: relative;

}

.menu:hover {
    cursor: pointer;
}

.menu:hover {
    cursor: pointer;
}

.menu_hover {
    display: none;
    position: absolute;
    width: 20%;
    flex-direction: column;
    height: 80%;
    top: 70px;
    background: #FFFFFF;
    left: 78%;
    box-shadow: -7px 5px 50px black;
    color: #000000;
    padding: 35px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
}

.menu_hover h3 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
}

.menu_links {
    padding: 25px 0;
}

.menu_links li {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #6F6E6E;
    list-style-type: none;
    line-height: 25px;
}

.menu_links_headers {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #F16D7F;
}

.menu_hover .close {
    color: #6F6E6E;
    position: absolute;
    left: 90%;
    top: 5px;
    cursor: pointer;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 18%;
    background-color: #222222;
    color: #E8E8E8;
}

.header img {
    width: 30px;
    height: 30px;
    padding: 0 20px;
    box-sizing: content-box;
}

.cart {
    position: relative;
}

.cart span {
    position: absolute;
    left: 43px;
    top: -10px;
    background: #F16D7F;
    padding: 0 7px;
    border-radius: 50%;
    color: white;
}

.header .left, .header .right {
    display: flex;
    flex-direction: row;
}

.content_block_tittle {
    background-color: #F1E4E6;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    height: 765px;
    width: auto;


}

content_block_tittle img {
    max-height: 300px;
}

.content_block_tittle h3 span {
    color: #F16D7F;

}

.content_block_tittle_man {
    width: 70%;
    height: 100%;
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
    background-image: url(src/man.png);
    background-repeat: no-repeat;
    background-position: center;

}

.content_block_tittle_man img {
    width: auto;
}

.content_block_tittle h1 {

    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
}

.content_block_tittle_h1 {
    width: 50%;
    border-left: 12px solid #F16D7F;
}

.content_block_tittle_h1_padding {
    padding-left: 20px;
}

.content_product_top {
    display: flex;
    justify-content: space-between;
}

.content_product {
    /*padding: 65px 220px;*/
    /*width: 72%;*/
    align-items: center;
    margin: 0 -15px;

}

.content_product span, .content_product h3 {
    text-transform: uppercase;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #F16D7F;
    margin: 0 auto;
}

.content_product a {
    text-decoration: none;
}

.content_product span {
    color: #ffffff;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;

}

.content_product_top_1, .content_product_top_2, .content_product_top_3 {
    width: auto;
    height: 260px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
}

.content_product_top_1 {
    background-image: url(src/women.png);
    margin: 30px auto;
    background-repeat: no-repeat;
    background-position: center;

}

.content_product_top_2 {
    background-image: url(src/product_men.png);
    margin: 30px auto;
    background-repeat: no-repeat;
    background-position: center;

}

.content_product_top_3 {
    background-image: url(src/chaild.png);
    margin: 30px auto;
    background-repeat: no-repeat;
    background-position: center;

}

.content_product_bottom {
    background-image: url(src/product_bottom.png);
    height: 180px;

    width: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
}

.fetured_items_heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
}

.fetured_items_heading h3 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.fetured_items_heading span {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;

}


.fetured_items {
    /*padding: 0 220px;*/
}

.img {
    margin-bottom: 20px;
    background-color: #F8F8F8;
}

.img h3 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding: 25px 0 12px;
}

.img p {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.img span {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    padding: 20px 0;
}

.price_block {
    padding: 15px 30px;
}

.fetured_items_item_1 .image_1 {
    background-image: url(src/fetured_items_item_1.png);
    width: auto;
    height: 420px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.fetured_items_item_2 .image_2 {
    background-image: url(src/fetured_items_item_2.png);
    width: auto;
    height: 420px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.fetured_items_item_3 .image_3 {
    background-image: url(src/fetured_items_item_3.png);
    width: auto;
    height: 420px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.fetured_items_item_4 .image_4 {
    background-image: url(src/fetured_items_item_4.png);
    width: auto;
    height: 420px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.fetured_items_item_5 .image_5 {
    background-image: url(src/fetured_items_item_5.png);
    width: auto;
    height: 420px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.fetured_items_item_6 .image_6 {
    background-image: url(src/fetured_items_item_6.png);
    width: auto;
    height: 420px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.black_box {
    display: none;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
}

.add_cart {
    display: none;
    position: absolute;
    z-index: 999;
    align-items: center;
    justify-content: center;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: 1px solid white;
    width: 138px;
    height: 43px;
}

.add_cart span {
    color: #FFFFFF;
}

.img:hover .black_box {
    display: flex;
}

.img:hover .add_cart {
    display: flex;
}

.bottom_button {
    display: flex;
    justify-content: center;
    padding: 50px 0 100px;
}

.bottom_button button {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: #F16D7F;
    border: 1px solid #FF6A6A;
    padding: 14px 38px;
}

.sale {
    background: #222224;
    display: flex;
    justify-content: center;
    /*padding: 0 220px;*/
}

.sale_item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 100px 20px;
}

.sale_item h3 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    padding: 16px 0 30px;
}

.sale_item p {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.footer_botom {
    background-image: url(src/Layer_41.jpg);
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    height: 448px;
    position: relative;
}

.footer_botom img {
    padding-bottom: 30px;
}

.subscribe_email {
    width: 256px;
    height: 50px;
    background-color: #E1E1E1;
}

.subscribe {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    /*padding: 0 80px;*/

}

.subscribe p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    padding: 0 80px;
}

.subscribe h3 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
    /* or 40px */
    text-align: center;
    color: #222224;
}

.btn {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background-color: #F16D7F;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 10px;
}

.form_subscribe {
    display: flex;
}

.form_subscribe input {
    background: #E1E1E1;
    padding: 7px 22px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.form_subscribe input::placeholder {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #222224;
    opacity: 0.67;
}

.copyrate {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background: #222224;
    width: 100%;
}

.copyrate_wraper {
    display: flex;
    justify-content: space-between;
}

.copyrate .left {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.copyrate .right {
    display: flex;
    justify-content: space-around;
}

.copyrate .right div {
    background: #FFFFFF;
    padding: 7px;
    margin: 0 5px;
}

.copyrate .right div:hover {
    background: #F16D7F;
    color: white;
}


.new_arrivals{
    display: flex;
    flex-direction: row;
    background-color: #F8F3F4;
    justify-content: space-around;
    align-items: center;
    padding: 60px 0;
}
.new_arrivals_left{
     font-family: Lato;
     font-style: normal;
     font-weight: normal;
     font-size: 24px;
     line-height: 29px;
     color: #F16D7F;

 }

 .new_arrivals_right{
     font-family: Lato;
     font-style: normal;
     font-weight: 300;
     font-size: 12px;
     line-height: 17px;
     color: #636363;
 }
 .new_arrivals_right span{
     color: #F16D7F;
 }
 .filter{
     width: 70%;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     align-content: space-around;
 }
 .filter_right{
     font-family: Lato;
     font-style: normal;
     font-weight: normal;
     font-size: 10px;
     line-height: 17px;
     color: #6F6E6E;
     display: flex;
     flex-direction: row;
 }
.filter_left h4{
    padding: 5px;
}
.filter_left img{
    width: 60px;
    padding: 10px;
}
.filter_left{
    padding: 50px 0;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
     color: #000000;
    display: flex;
    align-items: flex-start;
}
.filter_items{
    display: flex;
    margin-right: 25px;
}
.filter_items h4{
    margin-right: 10px;
}
.pages{
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    width: 280px;
    height: 43px;
    margin: 50px auto 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

}
.pages h6{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #EBEBEB;
    margin: 0;
    letter-spacing: 5.5px;
}
.pages span{
    color: #EF5B70;
}

@media screen and (max-width: 768px) {
    .sale_item {
        padding: 30px 20px;
    }

    .menu_hover {
        padding: 5px;
        height: 65%;
    }

    .menu_hover li {
        font-size: 9px;
    }

    .footer_botom {
        flex-direction: column;
    }

    .subscribe p {
        padding: 10px;
    }
}

@media screen and (max-width: 767px){
    .new_arrivals_left h1{
        font-size: 24px;
    }
    .filter_left h4{
        display: none;
    }
    .filter_right h6{
        font-size: 14px;
    }
    .new_arrivals_right h6{
        font-size: 14px;
    }
    .new_arrivals{
        flex-direction: column;
    }
    .filter{
        width: 100%;
        justify-content: space-around;
    }
    .filter_items{
        align-items: center;
    }

    .content_block_tittle_man {
        display: none;
    }

    .content_block_tittle {
        Width: 100%;
        Height: 363px;
        padding: 30px;
    }

    .content_block_tittle h1, .content_block_tittle h3 {
        font-family: Lato;
        font-style: normal;
        font-weight: 900;
        font-size: 15px;
    }

    .content_block_tittle h1 {
        font-size: 33px;
    }

    .content_block_tittle_h1 {
        width: 100%;
    }

    .header img {
        padding: 0 3px;
        width: 25px;
    }

    .cart, .profile {
        display: none;
    }

    .menu_hover {
        width: 50%;
        left: 45%;
        height: auto;
        z-index: 1;
    }

    .content_product_top {
        flex-direction: column;
    }

    .fetured_items_heading span {
        font-size: 12px;
    }
    .row{
        margin: 0;
    }
    .footer_botom {
        height: auto;
    }
    .copyrate_wraper{
        flex-direction: column-reverse;
        align-items: center;
        height: 145px;
    }
    .filter_items h6{
        margin: 0;
        font-size: 10px;
    }
    .subscribe{
        padding: 10px 0;
    }

}



